body{
    margin: 0px;
    padding: 0px;
    background-color: #0D0113 !important;
}

:root{
    --primary-color:#140B2A;
    --secondary-color : #794823;
    --accent-color:#FCC143;
    --accent-second-color:#1f858f;
}

*{
  font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4{
  font-family: 'Zen Tokyo Zoo', cursive;
  letter-spacing: 10px;
}
.bg-primary-custom{
    background-color: var(--primary-color)!important ;
}

.bg-secondary{
    background-color: var(--secondary-color)!important ;
}

.bg-accent{
    background-color: var(--accent-color)!important ;
}

/* form  */
input,select {
    background-color: grey !important;
    color: white !important;
  }

label{
  margin: 10px 0px;
}

/* Header  */
header {
    position: relative;
    background-color: black;
    height:20vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }
  
  @media (pointer: coarse) and (hover: none) {
    header {
      background: url('./media/video.mp4') black no-repeat center center scroll;
    }
    header video {
      display: none;
    }
  }

  /* footer  */

  body .footer {
    z-index: 1;
    --footer-background: var(--primary-color);
    display: grid;
    position: relative;
    grid-area: footer;
    min-height: 12rem;
    overflow-x: hidden;
    
  }

  body .footer .content {
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 4rem;
    padding: 2rem;
    background: var(--footer-background);
  }
  body .footer .content a,
  body .footer .content p {
    color: #f5f7fa;
    text-decoration: none;
  }
  body .footer .content b {
    color: white;
  }
  body .footer .content p {
    margin: 0;
    font-size: 0.75rem;
  }
  body .footer .content > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  body .footer .content > div > div {
    margin: 0.25rem 0;
  }
  body .footer .content > div > div > * {
    margin-right: 0.5rem;
  }
  body .footer .content > div .image {
    align-self: center;
    width: 4rem;
    height: 4rem;
    margin: 0.25rem 0;
    background-size: cover;
    background-position: center;
  }
  
